.page.theme_dark {
  --accent-bg-img: url('../images/cover-image-dark.png');
  --accent-color: #FF0070;
  --internal-accent-color: #000028;
  --bg-color: #000028;
  --title-color: #DB00FF;
  --text-shadow-color: #FF0070;
  --content-title-color: #FF0070;
  --content-color: #F1B2CE;
  --menu-btn-color: #FF0070;
  --shadow-1024: #FF0070;
}
