.page.theme_light {
  --accent-bg-img: url('../images/cover-image-light.png');
  --accent-color: #FF8DCB;
  --internal-accent-color: #353430;
  --bg-color: #FFF1F7;
  --title-color: #FFC2E6;
  --text-shadow-color: #FF8DCB;
  --content-title-color: #353430;
  --content-color: #353430;
  --menu-btn-color: #353430;
  --shadow-1024: #FF0070;
}

.theme_light .header__decor {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-bg-img: url('../images/cover-image-light.png');
    --accent-color: #FF8DCB;
    --internal-accent-color: #353430;
    --bg-color: #FFF1F7;
    --title-color: #FFC2E6;
    --text-shadow-color: #FF8DCB;
    --content-title-color: #353430;
    --content-color: #353430;
    --menu-btn-color: #353430;
    --shadow-1024: #FF0070;
  }

  .theme_auto .header__decor {
    display: none;
  }
}
