:root {
  --accent-bg-img: url('../images/cover-image-dark.png');
  --accent-color: #FF0070;
  --internal-accent-color: #000028;
  --bg-color: #000028;
  --title-color: #DB00FF;
  --text-shadow-color: #FF0070;
  --content-title-color: #FF0070;
  --content-color: #F1B2CE;
  --menu-btn-color: #FF0070;
  --shadow-1024: #FF0070;
  
  --font-fam: 'IBM Plex Mono', monospace;
  --font-size: 18px;
  --main-indent: 10px;
  --margin-header-main-footer: 30px;
}
